/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1B1B1B; /* Dark Background */
  color: #D1D1D1; /* Light Text */
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2E3A59; /* Primary Dark Blue */
}

.header h1 {
  margin: 0;
  color: #7D3C98; /* Electric Purple */
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
  color: #D1D1D1;
}

.profile-settings {
  background: none;
  border: none;
  font-size: 20px;
  color: #2ECC71; /* Emerald Green */
  cursor: pointer;
}

/* Main Content */
.main-content {
  padding: 20px;
}

.favorite-groups, .suggested-groups {
  margin-bottom: 40px;
}

.favorite-groups h2, .suggested-groups h2 {
  color: #2ECC71; /* Emerald Green */
}

.group-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.group-card {
  position: relative;
  background-color: #2C2C2C; /* Slightly Lighter Dark */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 250px;
}

.group-card h3 {
  color: #7D3C98; /* Electric Purple */
  margin-bottom: 10px;
}

.group-card p {
  margin-bottom: 20px;
  font-size: 14px;
}

.show-chat {
  padding: 10px;
  width: 100%;
  background-color: #7D3C98; /* Electric Purple */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.show-chat:hover {
  background-color: #9B59B6; /* Slightly Lighter Purple */
}

/* Logout Button */
.logout-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #E74C3C; /* Bright Coral */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #C0392B; /* Darker Coral */
}

main.blur-background {
  filter: blur(5px);
}

header.blur-background {
  filter: blur(5px);
}

.chat-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 600px;
  background-color: #2C2C2C;
  border: 1px solid #7D3C98;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2E3A59;
  color: #ccc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.room-name {
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #2C2C2C;
  display: flex;
  flex-direction: column;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 5px;
  background-color: #3d3d3d;
  border-radius: 10px;
  border: none;
  color: #ccc;
}

.chat-input button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #7D3C98;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  display: inline-block;
}

.message.user {
  background-color: #2ECC71;
  color: #fff;
  align-self: flex-end;
  text-align: right;
}

.message.other {
  background-color: #9B59B6;
  color: #fff;
  align-self: flex-start;
  text-align: left;
}

.username {
  font-size: 0.8em;
  color: #ccc;
  margin-top: 5px;
}

.add-to-favorites, .delete-from-favorites {
  position: absolute;
  top: 10px;
  left: 240px;
  background-color: #7D3C98;
  color: #ccc;
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}

.add-to-favorites:hover {
  background-color: #9B59B6;
}